body {
  background-color: #2d2d2d;
}

h1 {
  text-align: center;
}

body {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 27px;
letter-spacing: 0.4px;
word-spacing: 0.2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
text-align: center;
}

.button {
  background-color: #005585;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}


.question{
color: #6199bc
}


.responsive {
  width: 100%;
  height: 80%;
}

@media screen and (min-width: 780px) {
.responsive2 {
  width: 30%;
  height: 10%;
}
}

@media screen and (max-width: 779px) {
.responsive2 {
  width: 100%;
  height: 10%;
}
}


label {
font-family: "Trebuchet MS", Helvetica, sans-serif;
font-size: 27px;
letter-spacing: 0.4px;
word-spacing: 0.2px;
color: #6199bc;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
text-align: center;
}
